body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.DSTK {
  display: flex;
  justify-content: space-between;
}

.DSTK .space,
.order .space {
  margin-right: 30px;
}

.btnDSTK {
  display: inline-block;
}

.imageDSSP {
  display: flex;
  width: 200px;
  height: auto;
}

.inforSP {
  display: inline-block;
  font-size: medium;
}

.btn-plus-products {
  float: right;
  background-color: rgb(49, 206, 153);
  font-size: medium;
  font-weight: bold;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btnSuaXoa {
  display: flex;
  justify-content: space-around;
}

.btnSua,
.btnXoa,
.btn-page-number {
  font-size: 16px;
  width: 70px;
}

ul {
  list-style: none;
}

/* phan info */

.list li {
  padding: 16px;
  font-size: 18px;
  text-align: right;
}

.list-info li {
  padding: 10px;
}

.list-info input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.avatar img {
  border-radius: 50%;
  width: 120px;
  border: solid #777 2px;
  box-shadow: 0px 0px 5px 3px #999;
}

.name {
  font-size: 25px;
  padding: 15px;
}

.name i {
  font-size: 20px;
  padding-left: 5px;
}

.order .table {
  border: 1;
}

.search-section {
  position: relative;
}

.search-section #search-bar {
  width: 100%;
  margin: 0;
  border-radius: 4px;
  line-height: 44px;
}

.search-section .search-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  text-align: center;
  background-color: rgb(73, 124, 218);
  border-radius: 4px;
}

.search-section .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

.search-section .search-icon {
  color: #fff;
  line-height: 50px;
}

.content {
  padding: 0 0 50px 0;
}

.content .page-number {
  position: flex;
  text-align: right;
}

/* CSS for upload images */
.content .left-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.content .left-content .image-main {
  width: 300px;
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  background: white;
}

.content .left-content .image-main div {
  width: 100%;
  height: 100%;
}

.content .left-content .image-main div img {
  width: 100%;
  object-fit: cover;
}

.content .left-content .image-main div span:hover {
  cursor: pointer;
  color: red;
}

.content .left-content #add-image-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*  */
.content .right-content {
  display: inline-block;
}

.add-product > h3 > input {
  border-radius: 4px;
  width: 80%;
}

.content .btn-submit-cancel-section {
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.content .btn-submit-cancel-section button {
  font-weight: bold;
}

/* CSS for product information in products/add */
.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.product-detail h3 {
  color: #f36a5a;
  font-weight: bold;
}

.product-detail .product-inf {
  margin-top: 30px;
  width: 100%;
  padding: 0 50px;
}

.product-detail .product-inf li {
  padding: 10px 0;
}

.product-detail .product-inf li label {
  font-size: 1.2em;
}
.product-detail .product-inf li input,
.product-detail .product-inf li textarea {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  font-size: 1.5em;
}

.product-detail .product-inf li textarea {
  height: 120px;
}

.product-detail .product-inf .product-inf-category h4 {
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(73, 124, 218);
}

.product-detail .product-inf .product-inf-category .category-btn {
  margin-top: 10px;
  font-weight: bold;
}


.profile .btn_update_profile {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.profile .change_password {
  font-size: 18px;
}
