<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/accounts/Admin"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản quản trị</a>
            </li>
            <li>
                <a href="/products" class="active-menu"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<div id="page-wrapper">

    <div class="header">
        <h1 class="page-header">
            Danh sách sản phẩm
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách sản phẩm </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="left-content">
                    <form class="form-image" action="/api/upload-images" method="post" id="form-image">
                        <input class="d-none" type="file" name="Image" id="image" accept=".png, .jpeg, .jpg" multiple="">
                    </form>
                    <div class="image-main justify-content-center position-relative" id="container-image">
   	                <!-- Image will be show here-->
                    </div>
                    <div id="add-image-btn"><i class="fas fa-plus-square fa-5x"></i></i></div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 add-product">
                <h3>Tên: <input type="text" name="productName" class="info-add-product"></h3>
                <h3>Thông tin chi tiết</h3>
                <div class="col-md-5">
                    <ul class="product-detail">
                        <li>Thương hiệu: <input type="text" name="thuongHieu" class="info-add-product"></li>
                        <li>Dung lượng: <input type="text" name="dungLuong" class="info-add-product"></li>
                        <li>Đơn giá: <input type="text" name="donGia" class="info-add-product"></li>
                        <li>Số lượng: <input type="text" name="soLuong" class="info-add-product"></li>
                        <li>Ram: <input type="text" name="ram" class="info-add-product"></li>
                        <li>Rom: <input type="text" name="rom" class="info-add-product"></li>
                        <li>Màn hình: <input type="text" name="manHinh" class="info-add-product"></li>
                        <li>Độ phân giải: <input type="text" name="doPhanGiai" class="info-add-product"></li>
                        <li>Chip xử lý: <input type="text" name="chipXuLy" class="info-add-product"></li>
                        <li>Pin: <input type="text" name="pin" class="info-add-product"></li>
                        <li>Màu sắc: <input type="text" name="mauSac" class="info-add-product"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn-submit-cancel-section">
            <button type="button" id="add-product-btn">Thêm</button>
            <button type="button" id="cancel-btn">Hủy</button>
        </div>


    </div>

</div>

{{!-- Handle for show image before upload --}}
<script src="/javascripts/product-insert-preview-image.js"></script>