<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/accounts/Admin"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản quản trị</a>
            </li>
            <li>
                <a href="/products" class="active-menu"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<!-- /. NAV SIDE  -->
<div class="content">
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Danh sách sản phẩm
                <!-- <small>This is your UI elements section</small> -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Danh sách sản phẩm </a></li>
                <li class="active">Dữ liệu</li>
            </ol>

        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <div class="number">
                                <h3>
                                    <h3>4</h3>
                                    <small>Tổng số sản phẩm</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {{!-- Begin: search-bar, plus products --}}

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 search-section">
                    <input type="text" id="search-bar">
                    <div class="search-btn">
                        <i class="search-icon ti-search"></i>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <a href="/products/add"><button class="btn-plus-products"> Thêm sản phẩm</button></a>
                </div>
            </div>
            {{!-- Begin: search-bar, plus products --}}

            <!-- <div id="page-inner"> -->
            <div class="row">
                {{#each products}}
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <img src={{'hinh_anh_san_phams.HinhAnh'}} class="imageDSSP" alt="iphone">
                            <div class="inforSP">
                                <ul>
                                    <li><strong>{{TenSanPham}} </strong></li>
                                    <li>Hãng: {{'MaThuongHieu_thuong_hieu.ThuongHieu'}}</li>
                                    <li>Giá bán: {{'loai_san_phams.DonGia'}}</li>

                                </ul>
                                <div class="btnSuaXoa">
                                    <button class="btnSua">sửa</button>
                                    <button class="btnXoa">xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="page-number">
                <button class="ti-angle-left btn-page-number" id="pagination-left">Pre</button>
                <button class="ti-angle-right btn-page-number" id="pagination-right">Next</button>
            </div>

        </div>
    </div>
</div>